{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-2">
    <div class="d-flex justify-content-between">
        <h5>Available Projects</h5>
        <a class="btn btn-primary btn-sm" href="/projects/add">
            Add New Project
        </a>
    </div>
    <div class="row  mt-2">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Project Id</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Project Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                    <tr>
                        <th>{{project.id}}</th>
                        <td>{{project.title}}</td>
                        <td>{{project.description}}</td>
                        <td>Edit</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}