{% extends 'base.html' %}

{% block navbar %}

{% endblock navbar%}
{% block content %}
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProject">
    Add New Project
</button> -->
<div class="modal show d-block" tabindex="-1" role="dialog" id="addProject" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Project Details</h5>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{project_form}}
                    <!-- <button class="btn btn-primary my-4" type="submit">Submit</button> -->
                    <div class="modal-footer">
                        <!-- <a class="btn btn-secondary" href="/projects/list" onclick="">Cancel</a> -->
                        <button type="button" class="btn btn-secondary"
                            onClick="javascript:history.go(-1);">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}